@page "/userpermission"

<h3>UserPermission</h3>
<div class="p-4 bg-light rounded">
    <math display="block">
        <mrow>
            <mi>x</mi>
            <mo>=</mo>
            <mfrac>
                <mrow>
                    <mo>−</mo>
                    <mi>b</mi>
                    <mo>±</mo>
                    <msqrt>
                        <mrow>
                            <msup><mi>b</mi><mn>2</mn></msup>
                            <mo>−</mo>
                            <mn>4</mn>
                            <mi>a</mi>
                            <mi>c</mi>
                        </mrow>
                    </msqrt>
                </mrow>
                <mrow>
                    <mn>2</mn>
                    <mi>a</mi>
                </mrow>
            </mfrac>
        </mrow>
    </math>
</div>

<h2>Sum Notation</h2>
<div class="p-4 bg-light rounded">
    <math display="block">
        <mrow>
            <munderover>
                <mo>∑</mo>
                <mrow><mi>i</mi><mo>=</mo><mn>1</mn></mrow>
                <mi>n</mi>
            </munderover>
            <mi>i</mi>
            <mo>=</mo>
            <mfrac>
                <mrow><mi>n</mi><mo>(</mo><mi>n</mi><mo>+</mo><mn>1</mn><mo>)</mo></mrow>
                <mn>2</mn>
            </mfrac>
        </mrow>
    </math>
</div>
@code {

}
